@import "tailwindcss";
/* Phải có dấu nháy đơn/kép quanh tên font */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
.ticket-container {
  position: relative;
  background: #000;
  -webkit-mask-image: 
    radial-gradient(circle at 0 0, transparent 45px, black 46px),
    radial-gradient(circle at 100% 0, transparent 45px, black 46px),
    radial-gradient(circle at 0 100%, transparent 45px, black 46px),
    radial-gradient(circle at 100% 100%, transparent 45px, black 46px)
    /* radial-gradient(circle at 44% 0, transparent 40px, black 41px), */
    /* radial-gradient(circle at 44% 100%, transparent 40px, black 41px) */
    ;
  -webkit-mask-composite: source-in;
  mask-composite: intersect;
}

/* Định nghĩa class font */
.font-bebas {
  font-family: "Bebas Neue", sans-serif !important;
}

.font-anton {
  font-family: "Anton", sans-serif !important;
}
